body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#header-container {
  color: white;
}

#cv-container {
  display: flex;
  width: 595px;
  height: 842px;
}

input {
  border-style: none;
  background-color: inherit;
  font-family: inherit;
  color: black;
}

textarea {
  resize: none;
  border-style: none;
  background-color: inherit;
  font-family: inherit;
  width: 20rem;
  height: 1rem;
}

.education-container {
  display: flex;
  flex-direction: column;
}

#main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  background-color: black;
  color: white;
  padding: 1rem;
}

.general-container {
  transform: rotate(270deg);
  margin-top: 10rem;
}

.general-container form input {
  font-size: 40px;
  width: 20rem;
}

#title-div input {
  font-size: 25px;
  width: 20rem;
}

#main-right {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: white;
  color: black;
  padding: 1rem;
}

.form-left-input {
  color: white;
}

.info-container {
  display: flex;
}

.year-container input {
  width: 2rem;
}

.more-info-container {
  display: flex;
}

#experience-form {
  display: flex;
}
