body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
}

#header-container {
  color: white;
}

#cv-container {
  display: flex;
  width: 595px;
  height: 842px;
}

input {
  border-style: none;
  background-color: inherit;
  font-family: inherit;
  color: black;
}

textarea {
  resize: none;
  border-style: none;
  background-color: inherit;
  font-family: inherit;
  width: 20rem;
  height: 10rem;
}

.education-container {
  display: flex;
  flex-direction: column;
}

#main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  background-color: black;
  color: white;
  padding: 1rem;
}

#main-right {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: white;
  color: black;
  padding: 1rem;
}

.form-left-input {
  color: white;
}

.info-container {
  display: flex;
}

.year-container input {
  width: 2rem;
}

.more-info-container {
  display: flex;
}

#experience-form {
  display: flex;
}

#main-container {
  display: flex;
  padding: 1%;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}
