.general-container {
  transform: rotate(270deg);
  margin-top: 10rem;
  text-align: initial;
}

.general-name {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}

.general-title {
  font-weight: 300;
  margin: 0;
}
